html, body {
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
%clearfix {
  &::after {
    content: "";
    display: block;
    height: 0;
    visibility: visible;
    clear: both;
  }
}
%list-reset {
  margin: 0;
  paddin: 0;
  list-style-type: none;
}
ul, ol, p {
  margin-bottom: 10px;
  line-height: 1.5;
}
