/* == SITE FOOTER == */
.site-footer {
  @extend %clearfix;
  background-color: $color-grey;
  p {
    padding-top: 15px;
    text-align: center;
    color: $color-white;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 4px;
  }
}
.social-icon {
  text-align: center;
  margin-top: 10px;
  @extend %list-reset;
  padding-bottom: 15px;
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      display: block;
      border: 1px solid $color-white;
      width: 28px;
      height: 25px;
      padding: 15px;
      background-size: 1.6rem;
      background-repeat: no-repeat;
      background-position: center center;
      @include transition(.3s);
      &:hover {
        background-color: $color-white;
      }
    }
  }
}

$icon-list: 'fb', 'lin', 'twitter';
@each $icon in $icon-list {
  .social-icon {
    a {
      &.icon-#{$icon} {
        background-image: url('../images/icon-#{$icon}.svg');
      }
      &:hover {
        &.icon-#{$icon} {
          background-image: url('../images/icon-#{$icon}-hover.svg');
        }
      }
    }
  }
}


@media screen and (min-width: 480px) {
  .site-footer {
    p {
      float: left;
      text-align: left;
      padding-left: 10px;
      padding-bottom: 15px;
    }
    ul {
      float: right;
      padding-right: 10px;
      padding-top: 15px;

      margin-top: 0;
    }
  }
}
