.places {
  @extend %display-flex;
  @include flex-direction();

  @include rwd(sm) {
    @include flex-direction(row);
    @include flex-wrap();
  }

  .place {
    position: relative;
    height: 300px;
    text-align: center;
    color: $white;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    padding-bottom: 2rem;
    @extend %display-flex;
    @include flex-direction(column);
    @include justify-content(flex-end);

    @include rwd(sm) {
      width: 50%;
    }

    @include rwd(lg) {
      width: 25%;
    }


    &__heading,
    &__text {
      z-index: 2;
      position: relative;
    }

    &__heading {
      vertical-align: bottom;
      font-size: 1.2rem;
      margin-bottom: 0;
      text-transform: uppercase;

    }

    &__text {
      margin-top: .3rem;
      font-style: italic;
      font-size: 1.2rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, .6);
      opacity: 0;
      transform: scale(.3);
      @include transition();
      z-index: 1;
    }

    &:hover {
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    $places-list: place-01, place-02, place-03, place-04;

    @each $place-item in $places-list {
      &.#{$place-item} {
        background-image: url('../images/#{$place-item}.jpg');
      }
    }
  }
}