/* == default document style == */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clearfix {
  &::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}
%elem-reset {
  margin: 0;
  padding: 0;
}
%list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

$device-small: 480px;
$device-medium: 640px;

$container-inside: 1520px;

html, body {
  height: 100%;
}

p {
  line-height: 1.5;
}

.container-inside {
  margin: 0 auto;
  max-width: $container-inside;
}