.site-header {
  position: relative;
  background-image: url('../images/pexels-photo-122260.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 80px;

  .intro {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: $header-text-color;
    text-align: center;
    transform: translateY(50%);

    h1 {
      margin: 0;
      font-family: $headline-main-font, serif;
      font-weight: 400;
      font-size: 8rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 25px;
    }

    span {
      position: relative;
      display: inline-block;
      margin-top: 100px;
      width: 500px;

      a {
        position: relative;
        display: inline-block;
        padding: 17px 47px;
        background-color: $header-link-color;
        color: $header-text-color;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 40px;
        z-index: 2;
        @include transition();

        &:hover {
          background-color: darken($header-link-color, 20%);
        }
      }

      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background-color: $header-link-color;
        z-index: 1;
      }
    }
  }
}

.site-header {

  .logo {
    position: absolute;
    top: -35px;
    margin-top: 0;

    a {
      display: inline-block;
      @include transition();

      img {
        width: 150px;
      }

      &:hover {
        opacity: .7;
      }
    }
  }
}

.site-header {

  .navigation-search {
    @extend %reset-list;
    position: absolute;
    top: -10px;
    right: 0;

    li {
      display: inline-block;
      margin-left: 35px;

      a {
        @extend %hide-text;
        width: 36px;
        height: 36px;
        display: block;
        background-image: url('../images/sprite.svg');
        background-repeat: no-repeat;
        background-size: 22rem 17rem;
        @include transition();

        &:hover {
          opacity: .7;
        }
      }

      &.menu {

        a {
          background-position: -178px -22px;
        }
      }

      &.search {

        a {
          background-position: -121px -22px;
        }
      }
    }
  }
}