.site-navigation {

  ul {
    @extend %reset-list;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 16px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $header-text-color;
        font-size: 1.4rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}